<div>
  <h2 id="page-heading" data-cy="BookingHeading">
    <span>Bookings</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-booking"
        [routerLink]="['/booking/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Booking </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="bookings?.length === 0">
    <span>No bookings found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="bookings && bookings.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="startDate"><span>Start Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="endDate"><span>End Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="totalCost"><span>Total Cost</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="location"><span>Location</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="invoice.id"><span>Invoice</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="customer.id"><span>Customer</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="vehicle.id"><span>Vehicle</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let booking of bookings; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/booking', booking.id, 'view']">{{ booking.id }}</a>
          </td>
          <td>{{ booking.startDate | formatMediumDate }}</td>
          <td>{{ booking.endDate | formatMediumDate }}</td>
          <td>{{ booking.totalCost }}</td>
          <td>{{ booking.location }}</td>
          <td>
            <div *ngIf="booking.invoice">
              <a [routerLink]="['/invoice', booking.invoice?.id, 'view']">{{ booking.invoice?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="booking.customer">
              <a [routerLink]="['/customer', booking.customer?.id, 'view']">{{ booking.customer?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="booking.vehicle">
              <a [routerLink]="['/vehicle', booking.vehicle?.id, 'view']">{{ booking.vehicle?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/booking', booking.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                *jhiHasAnyAuthority="['ROLE_ADMIN']"
                type="submit"
                [routerLink]="['/booking', booking.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button
                *jhiHasAnyAuthority="['ROLE_ADMIN']"
                type="submit"
                (click)="delete(booking)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="bookings && bookings.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
