<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="vehicle">
      <h2 data-cy="vehicleDetailsHeading"><span>Vehicle</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ vehicle.id }}</span>
        </dd>
        <dt><span>Model</span></dt>
        <dd>
          <span>{{ vehicle.model }}</span>
        </dd>
        <dt><span>Make</span></dt>
        <dd>
          <span>{{ vehicle.make }}</span>
        </dd>
        <dt><span>Year</span></dt>
        <dd>
          <span>{{ vehicle.year }}</span>
        </dd>
        <dt><span>Lease Rate</span></dt>
        <dd>
          <span>{{ vehicle.leaseRate }}</span>
        </dd>
        <dt><span>Availability Status</span></dt>
        <dd>
          <span>{{ vehicle.availabilityStatus }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/vehicle', vehicle.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
