<div class="row">
  <!-- Vehicle Image or Banner Section -->
  <div class="col-md-6">
    <span class="lease-auto-banner img-fluid rounded"></span>
  </div>

  <!-- Main Content Section -->
  <div class="col-md-6">
    <h1 class="display-4">Welcome to LeaseAuto!</h1>
    <p class="lead">Find the perfect ride for your journey.</p>

    <!-- User Logged in / Logged out Notifications -->
    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account">Logged in as "{{ account.login }}". Explore our collection!</span>
      </div>

      <div class="alert alert-info" *ngSwitchCase="false">
        <span>Looking to lease a vehicle? </span>
        <a class="alert-link" (click)="login()">Sign in</a>
        <span> or </span>
        <a class="alert-link" routerLink="account/register">create an account</a>.
      </div>
    </div>

    <!-- Call to Action -->
    <p>Why LeaseAuto?</p>
    <ul>
      <li>Wide range of vehicles available.</li>
      <li>Flexible leasing options.</li>
      <li>Competitive rates.</li>
      <li>Easy online booking and confirmation.</li>
      <li>Excellent customer service.</li>
    </ul>

    <p>
      <span>Ready to drive? Browse our </span>
      <a href="/vehicles" class="btn btn-primary">Vehicle Collection</a>
    </p>
  </div>
</div>
