<div>
  <h2 id="page-heading" data-cy="VehicleHeading">
    <span>Vehicles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-vehicle"
        [routerLink]="['/vehicle/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Vehicle </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="vehicles?.length === 0">
    <span>No vehicles found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="vehicles && vehicles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="model"><span>Model</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="make"><span>Make</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="year"><span>Year</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="leaseRate"><span>Lease Rate</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="availabilityStatus"><span>Availability Status</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehicle of vehicles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/vehicle', vehicle.id, 'view']">{{ vehicle.id }}</a>
          </td>
          <td>{{ vehicle.model }}</td>
          <td>{{ vehicle.make }}</td>
          <td>{{ vehicle.year }}</td>
          <td>{{ vehicle.leaseRate }}</td>
          <td>{{ vehicle.availabilityStatus }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/vehicle', vehicle.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <!-- Add a Book button beside each car -->
              <button type="submit" [routerLink]="['/booking/new', vehicle.id]" class="btn btn-success btn-sm" data-cy="entityBookButton">
                <fa-icon icon="book"></fa-icon>
                <span class="d-none d-md-inline">Book</span>
              </button>

              <button
                *jhiHasAnyAuthority="['ROLE_ADMIN']"
                type="submit"
                [routerLink]="['/vehicle', vehicle.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button
                *jhiHasAnyAuthority="['ROLE_ADMIN']"
                type="submit"
                (click)="delete(vehicle)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="vehicles && vehicles.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
